.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.loader {

  display: inline-block;
  width: 60px;
  height: 60px;
  border: 6px solid #ddd; /* Light grey */
  border-top: 6px solid #ff6f61; /* Coral */
  border-radius: 50%;
  animation: spin 1.5s ease-in-out infinite, color-shift 4s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes color-shift {
  0% {
    border-top-color: #ff6f61; /* Coral */
  }
  33% {
    border-top-color: #3498db; /* Blue */
  }
  66% {
    border-top-color: #f1c40f; /* Yellow */
  }
  100% {
    border-top-color: #ff6f61; /* Coral */
  }
}
